{% extends 'tree/base.html' %}
{% load static %}

{% block head %}
	<script src="{% static 'tree/dialog.js' %}"></script>
	<link rel="stylesheet" href="{% static 'tree/dialog.css' %}">
{% endblock %}

{% block body %}
{#	{{ dialog }}#}
	<div class="content">
		<div class="dynamic-fields">
			{% for dynamic_field in dynamic_fields %}
				<label class="dynamic-field__label" for="{{ dynamic_field.label }}">{{ dynamic_field.name }}</label>
				<input
					class="dynamic-field__input"
					id="{{ dynamic_field.label }}"
					type="text"
					placeholder="{{ dynamic_field.default_value }}"
				>
				<div class="dynamic-field__btn btn btn-copy" onclick=copyDynamicFieldValue('{{ dynamic_field.label }}')>copy</div>
			{% endfor %}
		</div>
		<div class="dialog">
			<div class="navigation-menu">
				<div class="navigation-menu__item btn" id='step-back' onclick=dialogStage.stepBack()>Шаг назад</div>
				<div class="navigation-menu__item btn btn-navigation" id="start-again" onclick="dialogStage.startAgain()">Начать заново</div>
			</div>
			<hr>
			{% for dialog_stage in dialog %}
				<div
					class="dialog__stage{% if dialog_stage.phrase.initial %} active{% endif %}"
					id="dialog-stage-{{ dialog_stage.phrase.id }}"
					data-request-fill="{% for request_fill in dialog_stage.requests_fill %}{{ request_fill.label }} {% endfor %}"
				>
					<div class="dialog__stage__text">
						{% for billet_item in dialog_stage.phrase.billet %}
							{% if billet_item.type == 'text' %}
								{{ billet_item.text | safe }}
							{% elif billet_item.type == 'dynamic_field' %}
								<span class="billet-item {{ billet_item.text }}"></span>
							{% endif %}
						{% endfor %}
					</div>

					{% for reaction in dialog_stage.reactions %}
						<div
							class="dialog__stage__reaction btn btn-reaction"
							onclick="dialogStage.setActiveStage(document.querySelector('#dialog-stage-{{ reaction.to_phrase.id }}'))"
						>
						{{ reaction.reaction.title }}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
